{% if record._files %}
<div id="files" class="panel panel-default">
  <div class="collapse in" id="collapseTwo">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th>Filename</th>
          <th>Size</th>
          <th><span class="pull-right">Actions</span></th>
        </tr>
      </thead>
      <tbody>
      {%- for file in record._files|sort(attribute='key') -%}
      {%- set file_url = url_for('invenio_records_ui.recid_files', pid_value=pid.pid_value, filename=file.key, download=1) %}
        <tr>
          <td><a class="filename wrap" href="{{file_url}}">{{ file.key }}</a></td>
          <td>{{ file.size|filesizeformat }}</td>
          <td><span class="pull-right"><a class="btn btn-xs btn-default" href="{{file_url}}"><i class="fa fa-download"></i> Download</a></span></td>
        </tr>
      {%- endfor -%}
        <tr>
          <th>Total Size</th>
          <td>{{record._files|sum(attribute='size')|filesizeformat}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endif %}
