body {
  background: white;
  color: #54585A;
  font-family: Calibri,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0 0 300px 0;
  padding:0 !important
}


.login-panel {
  display: flex;
  height: 775px;
  justify-content: center;
  margin-top: 35px;
}
