body {
  background: white;
  color: $text-color;
  font-family: Calibri,Helvetica,Arial,sans-serif;
  font-size: 16px;
  margin: 0 0 300px 0;
  padding: 0 !important;

  .alert.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0px;
  }

  .alert-dismissible .close {
    right: 0 !important;
  }
}


.login-panel {
  display: flex;
  height: 775px;
  justify-content: center;
  margin-top: 35px;
}

