@import 'common';


#header {
  background: $northwestern-color;
  color: $white;
  min-height: 6em;
  margin-bottom: 5px;

  a {
    color: $white;
    font-family: Calibri,"Helvetica Neue",Helvetica,Arial,sans-serif;

    &.close {
      color: black;
    }

    &:hover {
      opacity: .7;
      text-decoration: none;
    }
  }

  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }

  #organizationHeader {
    margin: 15px 0;

    .institutionLogo img {
      width: 240px;
      height: 40px;
    }

  }

  #productHeader {
    border-top: 1px solid #7571b0;
    margin-top: 15px;

    #productTitle {
      margin-top: 15px;
      margin-bottom: 10px;

      a {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
      }
    }

    #productLogin {
      margin-top: 15px;
      a {
        color: #333;
      }
    }
  }

  #productNav {

    .nav > li > a:focus, .nav > li > a:hover {
      background-color: transparent;
    }

    .navbar-nav > li {
      margin: 8px 0;
    }

    .navbar-nav > li a {
      padding: 0;
      font-size: 18px;
    }

    .catalog-text {
      display: inline-block;
    }

    .navbar-link span {
      padding: 10px 0;
      line-height: 18px;
      font-size: 18px;
    }

    .glyphicon-upload {
      font-size: 17px;
    }

    .navbar-collapse {
      padding-right: 0px;
    }

    .navbar {
      margin-bottom: 0;
    }

    // Search bar
    .input-group .form-control:last-child {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    .input-group-addon {
      padding: 10px 16px;
      font-size: 18px;
      border-radius: 6px;
    }

    .input-group-addon:first-child {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    .search {
      width: 400px;
      font-size: 18px;
      height: 46px;
    }

  }

}
