
#metadata-section {
  .dl-horizontal {
    dt {
      width: 215px;
    }

    dd {
      margin-left: 235px;
    }
  }

  .metadata-help {
    color: #737373;
  }
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#citationModal {
  .modal-body {
    padding-left: 20px;
    padding-right: 20px;

    ul {
      list-style: none;
      padding-left: 0px;
      padding-right: 0px;

      li {
        margin-bottom: 20px;

        .clipboard-btn {
          float: right;
          margin-top: -10px;
          margin-right: -10px;
          border-top-left-radius: 0px;
          border-bottom-right-radius: 0px;
          border-color: rgb(227, 227, 227);
        }
      }

    }

  }
}

#invenio-records {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
