@import 'common';


.search-result {
  .title {
    font-size: 28px;
  }

  .title-icon {
    margin-right: 5px;
  }

  .authors {

  }

  .description {
    font-style: italic;
  }

}

.visibility-hidden {
  visibility: hidden;
}
