
// @import "variables";

// Setting the path to fonts files.
$icon-font-path: "/static/node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "/static/node_modules/font-awesome/fonts";

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome";

html {
  position: relative;
  min-height: 100%;
}

@import 'common';
// @import "type";
// @import "navbar";
@import "body";
// @import "cover";
@import "header";
@import "footer";
// @import "input-icon";
@import "frontpage";
@import "recordcreationpage";
@import "recordpage";
@import "search";

// CSS code to allow `ng-csp="no-inline-css"`
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-shim {
  visibility:hidden;
}

.ng-anchor {
  position:absolute;
}

.fa-1-dot-5x {
  font-size: 1.5em;
}
