<header id="header">
  <div class="container">
    <div class="row">

      {%- block organization_header %}
      <div id='organizationHeader' class="col-md-12">
        <div id='brandTopLogo' class='hidden-xs hidden-sm col-md-6'>
          <a class='institutionLogo' href='https://www.feinberg.northwestern.edu/'>
            <img src="{{ url_for('static', filename='img/logos/northwestern-medicine.svg') }}" alt='Northwestern Medicine'>
          </a>
        </div>

        <div id='brandTopRightLinks' class='hidden-xs hidden-sm col-md-6 text-right'>
          <a href='https://www.nm.org'>Northwestern Medicine</a> |
          <a href='https://www.northwestern.edu'>Northwestern University</a> |
          <a href="https://www.feinberg.northwestern.edu/faculty-profiles/index.html">Faculty Profiles</a>
        </div>

        <div id='brandTopMobile' class='col-xs-12 hidden-md hidden-lg'>
          <span>Northwestern University</span>
        </div>
      </div>
      {% endblock %}

      {%- block product_header %}
      <div id='productHeader' class="col-md-12">
        <div id="productTitle" class='col-xs-12 col-sm-7'>
          <a href='/'>{{ config.THEME_SITENAME }}</a>
        </div>

        {%- if config.ACCOUNTS %}
        <div id="productLogin" class='hidden-xs col-sm-5 text-right'>
          {%- if not current_user.is_authenticated %}
          <form>
            <a href="{{ url_for_security('login', next=request.path) }}"
               class="btn btn-default">
              <i class="fa fa-sign-in"></i> {{_('Log in')}}
            </a>
          </form>
          {%- else %}
          <div>
          {%- if config.USERPROFILES %}
            <div class="btn-group">
              <a class="btn btn-default" href="{{ url_for('invenio_userprofiles.profile') }}">
                <i class="fa fa-user"></i> {{current_user.email}}
              </a>
              <button type="button" class="btn btn-default dropdown-toggle"
                      data-toggle="dropdown">
                <span class="caret"></span>
              </button>

              {% block user_dropdown_menu %}
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="{{ url_for('invenio_userprofiles.profile') }}">
                    <i class="fa fa-user fa-fw"></i> Profile
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('cd2hrepo_records.personal_records') }}">
                    <i class="fa fa-th-list fa-fw"></i> Deposits
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="{{ url_for_security('logout') }}">
                    <i class="fa fa-sign-out fa-fw"></i> {{_('Log out')}}
                  </a>
                </li>
              </ul>
              {% endblock %}

            </div>
          {%- else %}
          <a href="{{ url_for_security('logout') }}" class="btn btn-default">
            <i class="fa fa-sign-out"></i> {{_('Log out')}}
          </a>
          {%- endif %}
          </div>
          {%- endif %}
        </div>
        {%- endif %}
      </div>
      {% endblock %}

      {%- block product_nav %}
      <div id="productNav" class="col-md-12">
        <nav class="navbar">
          <div class="container-fluid">
            <div class="collapse navbar-collapse">

              {% block catalog %}
              <ul class="nav navbar-nav">
                <li>
                  <a href="{{ url_for('invenio_deposit_ui.new') }}" class="navbar-link">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                    <span class="catalog-text">Catalog your Research</span>
                  </a>
                </li>
              </ul>
              {% endblock %}

              {% block search %}
              <div class="nav navbar-nav navbar-right">
                <form class="navbar-form"
                      action="{{config.THEME_SEARCH_ENDPOINT}}" role="search">
                  <div class="input-group">
                    <span class="input-group-addon navbar-btn"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control search" name="q" placeholder="Start your Research">
                  </div>
                </form>
              </div>
              {% endblock %}

            </div>
          </div>
        </nav>
      </div>
      {%- endblock %}

    </div>
  </div>
</header>
