{%- extends "invenio_theme/page.html" %}

{%- block head_title %}
{%- if title %}
<title>{{ title + " | " + config.THEME_SITENAME }}</title>
{% endif %}
{%- endblock head_title %}

{%- block css %}
{% include "cd2hrepo_theme/css.html" %}
{%- endblock css %}

{%- block page_header %}
{% include "cd2hrepo_theme/header.html" %}
{%- endblock page_header %}

{%- block page_body %}
<div class="container body-container">
{%- block title %}
  {%- if title %}
  <div class="page-header">
    <h1>{% block main_title %}{{ title }}{% endblock %}</h1>
  </div>
  {%- endif %}
{%- endblock title %}
{%- block content %}{%- endblock content %}
</div>
{%- endblock page_body %}

{%- block page_footer %}
{% include "cd2hrepo_theme/footer.html" %}
{%- endblock page_footer %}

{%- block javascript %}
{% include "cd2hrepo_theme/javascript.html" %}
{%- endblock javascript %}

{%- block trackingcode %}
{% include "cd2hrepo_theme/trackingcode.html" %}
{%- endblock %}
