{%- extends "invenio_theme/page.html" %}

{%- block css %}
{% include "cd2hrepo_theme/css.html" %}
{%- endblock css %}

{%- block page_header %}
{% include "cd2hrepo_theme/header.html" %}
{%- endblock page_header %}

{%- block page_footer %}
{% include "cd2hrepo_theme/footer.html" %}
{%- endblock page_footer %}

{%- block javascript %}
{% include "cd2hrepo_theme/javascript.html" %}
{%- endblock javascript %}

{%- block trackingcode %}
{% include "cd2hrepo_theme/trackingcode.html" %}
{%- endblock %}
