<div ng-hide="recordsVM.invenioRecordsAlert.type == 'success' && recordsVM.invenioRecordsArgs.templateParams.responseParams[recordsVM.invenioRecordsAlert.action].hide">
  <div ng-show="recordsVM.invenioRecordsEndpoints.self">
    <ul class="list-inline text-right">
      <li>
        <button ng-disabled="depositionForm.$invalid || depositionForm.$prestine || recordsVM.invenioRecordsLoading"
                class="btn btn-default" ng-click="recordsVM.actionHandler(['self', 'PUT'])">
          Save Draft
        </button>
      </li>
      <li>
        <button ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading"
                class="btn btn-success" ng-click="recordsVM.actionHandler(['publish', 'POST'])"
                title="You must save your changes before you can publish">
          Publish Record
        </button>
      </li>
    </ul>
  </div>

  <div ng-show="!recordsVM.invenioRecordsEndpoints.self">
    <ul class="list-inline text-right">
      <li>
        <button ng-disabled="depositionForm.$invalid || recordsVM.invenioRecordsLoading"
                class="btn btn-default" ng-click="recordsVM.actionHandler(['self', 'PUT'])">
          Save Draft
        </button>
      </li>
      <li>
        <button ng-disabled="depositionForm.$invalid || depositionForm.$dirty || recordsVM.invenioRecordsLoading"
                class="btn btn-success" ng-click="recordsVM.actionHandler(['publish', 'POST'])"
                title="You must save your changes before you can publish">
          Publish Record
        </button>
      </li>
    </ul>
  </div>
</div>
