{%- extends config.BASE_TEMPLATE %}

{%- block head_title %}
<title>{{ config.THEME_SITENAME + " - Medical knowledge. Emerging." }}</title>
{% endblock %}

{%- block page_header %}
{% include "cd2hrepo_frontpage/header.html" %}
{% endblock %}

{%- block page_body %}
<div id="frontPageBody" class="container body-container">
  <div class="jumbotron">
    <div class="row">

      <div class="col-md-6 share">
        <a href="{{ url_for('invenio_deposit_ui.new') }}"
           class="btn btn-primary btn-lg">
          Catalog your Research
       </a>
      </div>

      <div class="col-md-6 search">
        <form action="{{config.THEME_SEARCH_ENDPOINT}}" role="search"
              class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" name="q" placeholder="Start your Research">
        </form>
      </div>

    </div>
  </div>

  <div>
    <h1>About</h1>
    <p>
      Research Data Management (RDM) platforms play a critical role in the research ecosystem to disseminate & preserve, enable reproducibility, and empower reuse of collaborative research activities and outputs.
    </p>
    <p>
      InvenioRDM offers a secure way to empower organizations to securely house and make discoverable data records and other research products, from publications and presentations to software, policy documents, and workflows, worldwide. InvenioRDM is being delivered in partnership with the <a href="https://home.cern/">European Organization for Nuclear Research (CERN)</a>, developers of <a href="https://zenodo.org">Zenodo</a> for the European community.  Together, we are building on this strong foundation to deliver a wide range of features through a deployable application that can be easily implemented to power research, ensuring scientific rigor and accessibility, while cultivating a collaborative, interdisciplinary community to sustain the platform going forward.
    </p>

    <h1>Center for Data to Health</h1>
    <p>
      This project is funded in part by the <a href="https://ctsa.ncats.nih.gov/cd2h/">CTSA National Center for Data to Health (CD2H)</a>. The CD2H accelerates advancements in informatics by promoting data reuse and interoperability, tool sharing, informatics fluency, and collaboration across the CTSA community.
    </p>
  </div>
</div>
{%- endblock page_body %}
