{%- extends config.BASE_TEMPLATE %}

{%- block head_title %}
<title>{{ config.THEME_SITENAME + " - Medical knowledge. Emerging." }}</title>
{% endblock %}

{%- block page_header %}
{% include "cd2hrepo_frontpage/header.html" %}
{% endblock %}

{%- block page_body %}
<div id="frontPageBody" class="container body-container">
  <div class="jumbotron">
    <div class="row">

      <div class="col-md-6 actions">
        <a href="{{ url_for('invenio_deposit_ui.new') }}"
           class="btn btn-primary btn-lg catalog">
          Catalog your Research
        </a>
        <form action="{{config.THEME_SEARCH_ENDPOINT}}" role="search"
              class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" name="q" placeholder="What are you looking for?">
        </form>
      </div>

    </div>
  </div>

  <div class="frontPageText">
    <p>
      Research Data Management (RDM) platforms make it possible to preserve and share, support reproducibility, and empower reuse of collaborative research activities and outputs.
    </p>

    <p>
      <b>InvenioRDM</b> enables organizations to securely house research products and <b>make them discoverable, shareable, and citable</b> -- from publications and presentations to datasets, software, lay summaries, policy documents, and guidelines. <b>InvenioRDM</b> is being developed as part of a large, multi-organization collaboration in partnership with the European Organization for Nuclear Research (CERN), birthplace of the World Wide Web and developers of the Zenodo RDM for the European community. Together we are working to build a wide range of features that can help power biomedical research and support data sharing, innovation, knowledge dissemination, and interdisciplinary collaboration.
    </p>

    <p>
      Our work is driven by user needs and informed by best practices and standards, including those that help define Next Generation Repositories as a foundation for a distributed, globally-networked infrastructure for scholarly communication, discovery, and innovation.
    </p>
    
    <p>
      <b>Contact us</b>. Email us if you have questions or if you’d like to request a test user name and password for this site so you can create records of your own.
    <br>
    <br>
      <b>Join us</b>. Get updates and test new releases on the product site, email us to request a demonstration or chat, take a look at our competitive landscape analysis,  and get involved with collaboration and discussion through our open source project. 
    </p>
    
    <br>
    <p class="footnote">
      InvenioRDM is powered by the <a href="https://galter.northwestern.edu/">Galter Health Sciences Library & Learning Center</a> and supported in part by the Feinberg School of Medicine and the NIH National Center for Advancing Translational Sciences (NCATS) through grants U24TR002306 (<a href="https://ctsa.ncats.nih.gov/cd2h/">CD2H</a>) and UL1TR001422 (<a href="https://www.nucats.northwestern.edu/">NUCATS</a>).
    </p>
  </div>
</div>
{%- endblock page_body %}
