{%- extends config.BASE_TEMPLATE %}

{%- block head_title %}
<title>{{ config.THEME_SITENAME + " - Medical knowledge. Emerging." }}</title>
{% endblock %}

{%- block page_header %}
{% include "cd2hrepo_frontpage/header.html" %}
{% endblock %}

{%- block page_body %}
<div id="frontPageBody" class="container body-container">
  <div class="jumbotron">
    <div class="row">

      <div class="col-md-6 actions">
        <a href="{{ url_for('invenio_deposit_ui.new') }}"
           class="btn btn-primary btn-lg catalog">
          Catalog your Research
        </a>
        <form action="{{config.THEME_SEARCH_ENDPOINT}}" role="search"
              class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" name="q" placeholder="What are you looking for?">
        </form>
      </div>

    </div>
  </div>

  <div class="frontPageText">
    <p>
      Research Data Management (RDM) platforms play a critical role in the research ecosystem to preserve and share, enable reproducibility, and empower reuse of collaborative research activities and outputs.
    </p>

    <p>
      <b>InvenioRDM</b> makes it possible for organizations to securely house research products and make them <b>discoverable, shareable, and citable</b> -- from publications and presentations to datasets, software, lay summaries, policy documents, and workflows. InvenioRDM is being developed as part of a large, multi-organization collaboration in partnership with the <b><a href="https://home.cern/">European Organization for Nuclear Research (CERN)</a></b>, developers of <b><a href="https://zenodo.org">Zenodo</a></b> for the European community.  Together, we are working to build a wide range of features that can help <b>power biomedical research</b> and support data sharing, accessibility, innovation, and interdisciplinary collaboration.
    </p>

    <br>
    <p class="footnote">
      This project is funded in part by the <a href="https://ctsa.ncats.nih.gov/cd2h/">CTSA National Center for Data to Health (CD2H)</a> and supported by the NIH National Center for Advancing Translational Sciences, Grant Number U24TR002306, to help guide the cultural and technological changes necessary for data and informatics to improve research and health care.
    </p>
  </div>
</div>
{%- endblock page_body %}
