<div id="files" ng-show="filesVM.files.length > 0" class="panel panel-default">
  <table class="table">
    <tr>
      <th>Filename</th>
      <th>Progress</th>
      <th>Actions</th>
    </tr>
    <tr class="sel-file" ng-repeat="f in filesVM.files">
      <td class="wrap">
        {{f.key}} ({{ f.size | bytesToHumanReadable }})
      </td>
      <td class="text-center">
        <span ng-show="f.progress < 100 && !f.errored">{{ f.progress }} %</span>
        <span ng-show="f.processing && !f.errored">Processing...</span>
        <span ng-show="f.errored" class="text-danger">Error</span>
        <span ng-show="f.completed" class="text-success">✓</span>
      </td>
      <td ng-show="f" class="text-center ">
        <a href="" ng-click="filesVM.remove(f)">
          <i class="fa fa-times-circle fa-1-dot-5x" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </table>
  <div class="panel-footer">
    <div class="text-right">
      <span class="text-muted" ng-show="filesVM.invenioFilesBusy && filesVM.getCompleted().length < filesVM.files.length">
        Loading ...
      </span>
      <button class="btn btn-sm btn-default" type="submit" ng-show="filesVM.invenioFilesBusy" ng-click="filesVM.cancel()">Cancel</button>
      <button class="btn btn-sm btn-primary" type="submit" ng-disabled="filesVM.invenioFilesBusy || filesVM.getCompleted().length === filesVM.files.length" ng-click="filesVM.upload()">Start upload</button>
    </div>
  </div>
</div>
